body {
    font-family: 'Poppins', sans-serif;
    background: gray;
    color: black;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    color: #333;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: darkred;
    color: white;
    text-transform: uppercase;
}

tr:hover {
    background-color: #f1f1f1;
}

button, a {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    font-weight: bold;
    color: darkred;
}

button {
    background-color: #6a11cb;
    color: white;
}

button:hover {
    background-color: #2575fc;
}


select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.success-message {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.error-message {
    background-color: #ff4d4d;
    color: white;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}
